In [1]:
import pandas as pd
import numpy as np
import unicodedata
from nltk.tokenize import sent_tokenize #tokenizes sentences
from nltk.tokenize import word_tokenize #tokenizes words
from nltk.corpus import stopwords
import string
from nltk.util import ngrams
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk import pos_tag #tags the parts of speech.  VB=Verbs
from nltk import RegexpParser
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
punctuation_ = set(string.punctuation)
stopwords_ = set(stopwords.words('english'))

In [3]:
ls archive/

animal_crossing_dataset.csv  doom_crossing_dataset.csv

In [4]:
acnh=pd.read_csv('archive/animal_crossing_dataset.csv')
acnh.columns

Index(['subreddit', 'id', 'title', 'ups', 'downs', 'upvote_ratio',
       'total_awards_received', 'num_comments', 'created_utc', 'url',
       'filename'],
      dtype='object')

In [5]:
doom=pd.read_csv('archive/doom_crossing_dataset.csv')
doom.columns

Index(['subreddit', 'id', 'title', 'ups', 'downs', 'upvote_ratio',
       'total_awards_received', 'num_comments', 'created_utc', 'url',
       'filename'],
      dtype='object')

In [6]:
index_a=pd.Index(acnh['id'])
acnh_sub=pd.DataFrame(acnh['subreddit']).set_index(index_a)
index_d=pd.Index(doom['id'])
doom_sub=pd.DataFrame(doom['subreddit']).set_index(index_d)

In [7]:
Xa=pd.DataFrame(acnh['title']).set_index(index_a)

In [8]:
Xd=pd.DataFrame(doom['title']).set_index(index_d)

In [9]:
X_titles=pd.concat([Xd, Xa])
y=pd.concat([doom_sub ,acnh_sub])

In [18]:
for title in X_titles.iloc[:,0]:
    title.replace('villagers', 'villager')

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
tfidf = TfidfVectorizer(stop_words='english', smooth_idf=True)  # Checkout out the options!

document_tfidf_matrix = tfidf.fit_transform(X_titles.iloc[:,0])

X_tf_idf = pd.DataFrame(document_tfidf_matrix.todense(), columns = tfidf.vocabulary_)
X_tf_idf.set_index(X_titles.index)

,remember,fun,send,appreciacion,lead,sound,designer,id,chad,mossholder,...,aware,checked,spa,witchy,sleepy,holding,genuinely,38,friendship,screening
id,,,,,,,,,,,,,,,,,,,,,
gtli3b,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fnj4e5,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gemj1h,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fzhpqt,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
g4v23f,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
g9674v,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fnl57y,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
g7mis1,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gtz9fa,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fmjv7l,0.57735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
count_vect = CountVectorizer(lowercase=True, tokenizer=None, stop_words='english',
                             analyzer='word', max_df=1.0, min_df=1,
                             max_features=None)

count_vect.fit(X_titles)
target_names = ['AnimalCrossing', 'Doom']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_tf_idf, y, test_size=0.2)

In [23]:
y_nb_train=pd.get_dummies(y_train).iloc[:,0]
y_nb_test=np.array(y_test).reshape(-1,)

In [24]:
y_nb_train

id
gjwm8n    1
dmrz6c    0
fpkp71    0
fkp46a    0
gtjbly    1
         ..
cd354f    0
gftsqb    0
gr6rqv    1
ghqiex    0
g97fxe    1
Name: subreddit_AnimalCrossing, Length: 1277, dtype: uint8

In [25]:
y_test=y_test.iloc[:,0]

In [26]:
y_train=y_train.iloc[:,0]

In [27]:
from sklearn.naive_bayes import MultinomialNB

In [28]:
nb_model=MultinomialNB()
nb_model.fit(X_train, y_nb_train)

MultinomialNB()

In [29]:
feature_words = tfidf.get_feature_names()
n = 15 #number of top words associated with the category that we wish to see

#for cat in range(len(target_names)):
print(f"\nTarget: {0}, name: {'Doom'}")
log_prob = nb_model.feature_log_prob_[0]
i_topn = np.argsort(log_prob)[::-1][:n]
type(feature_words)
features_topn = [feature_words[i] for i in i_topn]
print(f"Top {n} tokens: ", features_topn)

Target: 0, name: Doom
Top 15 tokens:  ['doom', 'eternal', 'slayer', 'like', 'doomguy', 'rip', 'tear', 'just', 'did', 'time', 'mick', 'demon', 'good', 'hell', 'art']

In [30]:
print(f"\nTarget: {1}, name: {'AnimalCrossing'}")
log_prob = nb_model.feature_log_prob_[1]
i_topn = np.argsort(log_prob)[::-1][:n]
type(feature_words)
features_topn = [feature_words[i] for i in i_topn]
print(f"Top {n} tokens: ", features_topn)

Target: 1, name: AnimalCrossing
Top 15 tokens:  ['crossing', 'animal', 'like', 'island', 'just', 'day', 'villagers', 'time', 'finally', 'really', 'life', 'nook', 'know', 'blathers', 'oc']

In [1]:
mkdir NLP

str

5.306825297432686

(320, 1)

find tf and idf

(1277, 2536)

,just,amazing,idea,thought,guys,kick,does,wish,buy,real,...,blue,puppy,tycoon,outdoor,library,nicely,reading,luck,andrew,baena
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0